:root {
    --bg-color: #fff;
    --inverted-bg-color: #8c8c8c;
    --primary-color: #fefefc;
    --grey100: #cfcdd3;
    --grey200: #898a9e;
    --grey300: #3f3f3f;
    --green: #30b731;
    --red: #dd5471;
    --dark: #d0cdff30;
    --orange: #f37032;
    --navbar-height: 65px;
    --sidebar-width: 200px;
}
